#Book{
	cursor: pointer;
}

#BigBook{
	display: none;
	position: fixed;
	top: 0; 
	left:0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	text-align: center;
}

#flipbook{
	text-align: center;
	left: 200px;
	top: 20px;
}
